/* header */
.header{
	display: flex;
  	position: sticky;
	justify-content: space-between;
    align-items: center;
 	width: 100%;
	top: 0;
	border-bottom: var(--linewidth) solid var(--linecolor);
	background-color: var(--bgcolor);
	z-index: 2;
}
	.header-text, .footer-text{
		color: var(--textcolor);
		font-size: 16px;
		/* text-transform: uppercase; */
		padding: 20px;
		user-select: none;
	}
	.header-text{
		cursor: var(--cursorPointer);
	}
	.header-text:hover{
		color: var(--texthovercolor);
	}
		.header a{
			color: inherit;
			text-decoration: none;
			cursor: var(--cursorPointer);
		}

/* footer */
.footer{
	height: 100px;
	display: flex;
  	position: relative;
	justify-content: space-around;
    align-items: center;
 	width: 100%;
	border-top: var(--linewidth) solid var(--linecolor);
}







/* 

.footer{
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer .links{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.footer .links .link{
	color: var(--grey900);
	text-decoration: none;
}
.footer .credits{
	color: var(--grey700);
}
.footer .links .link:hover{
	color: var(--grey700);
	cursor: var(--cursorPointer);
}
.footer .link, .footer .credits{
	margin: 30px 50px;
}


@media screen and (max-width: 620px), (max-height: 620px) {

.footer{
		height: auto;
		width: auto;
		flex-direction: column-reverse;
		margin: 40px 0 60px 0;
		padding: 20px;
	}
	.footer .links{
		width: 100%;
		padding: 0 0 30px 0;
	}
	.footer .links .link, .footer .headerInfo, .footer .credits{
		margin: 0;
	}
	.footer .credits{
		font-size: 9px;
		letter-spacing: 1.4px;
	}



	.headerInfo{
		margin: 30px;
	}
} */